<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
</packages>