<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
</packages>